body{
    color: rgb(248, 4, 4);
    background: url('/img/principal.svg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(124, 17, 17);
    padding: 220px 0;
    margin: 50px;
}

h1{
    display: flex;
    justify-content: center;
    background-color: black;
    width: 18%;
}

p{
    background-color: black;
    margin: 18px;
    width: 90%;
}